<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>display_Capitals</h1>
        <table border="3px">
            <tr>
                <th>pk/con_id</th>
                <th>country_id</th>
                <th>capital_id</th>
                <th>capital_name</th>
        
            </tr>
        {% for CAPO in Capitals %}
            <tr>
                <td>{{CAPO.pk}}</td>
                <td>{{CAPO.country_id}}</td>
                <td>{{CAPO.capital_id}}</td>
                <td>{{CAPO.capital_name}}</td>
                
            </tr>
        {% endfor %}
        </table>
    </center>
</body>
</body>
</html>